@using OrchardCore.Themes
@using OrchardCore.Admin.ViewModels
@using OrchardCore.Themes.TheAdmin

@{
    ViewData["Title"] = "Hoşgeldiniz";
}
<h2>@ViewData["Title"]</h2>
<p><strong>Genel :</strong> Yine Bekleriz</p>
