@using OrchardCore.Themes
@using OrchardCore.Admin.ViewModels
@using OrchardCore.Themes.TheAdmin

@{
    ViewData["Title"] = "Hesabım";
}
<h2>@ViewData["Title"]</h2>
<p><strong>Kullanıcı:</strong> @ViewData["Username"]</p>
<p><strong>Bilgiler:</strong> @ViewData["OrderInfo"]</p>
