@using OrchardCore.Themes
@using OrchardCore.Admin.ViewModels
@using OrchardCore.Themes.TheAdmin

@{
    ViewData["Title"] = "Ödeme Ekranı";
}
<h2>@ViewData["Title"]</h2>
<p><strong>Borç:</strong> @ViewData["borc"]</p>
