@using OrchardCore.Themes
@using OrchardCore.Admin.ViewModels
@using OrchardCore.Themes.TheAdmin

@{
    ViewData["Title"] = "Siparişlerim";
}
<h2>@ViewData["Title"]</h2>
<p><strong>Liste:</strong> @ViewData["SiparisListesi"]</p>
